body {
    width: 100%;
    margin: auto;
}

#userPane {
    width: 49%;
    float: left;
}

#adminPane {
    width: 49%;
    float: right;
}

#documentsPane {
    width: 49%;
    float: left;
}

#tagsPane {
    width: 49%;
    float: right;
}

#logInPane {
    width: 49%;
    position:absolute;
    margin-left: auto;
    margin-right: auto;
}

/* Log in */

/* For log in button */
.btn-login {
    width:100%;
    margin-top:5px;
    cursor:pointer;
    transition: all 0.5s;
    background-color:#42bd5b;
    color: #FFFFFF;
    border: 0px;
}



/* User management */

.user-name {}

/* Document management */

.document-filter-list {}

.document-list-pane {}

.document-list-pane li {
    padding-top: 20pt;
}

.document-name {
    padding: 5px 10px;
    color: white;
    background-color: black;
    text-align: center;
    font:2.4em DejaVu Sans, sans-serif;
    font-size: 14px;
    cursor:pointer;
}

.document-name:hover {
    background-color: #aaaaaa;
}

.document-information-pane {}

.document-details-pane {}

.document-details {}

.document-control-pane {}

.document-comments-pane {}

.document-history-pane {}

/* Tag management */

.tag-filter-list {}

.tag-list-pane {}

.tag-name {}

.tag-information-pane {}

.tag-details-pane {}

.tag-details {}

.tag-control-pane {}

.tag-history-pane {}

/* Names and values of document/tag properties */

.property-name {}

.property-value {}

/* Comments */

.comment-list {}

.comment-text {}

.comment-info {}

/* Events */

.event-list {}

.event-date {}

.event-description {}

.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}

.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}