body {
    width: 100%;
    margin: auto;
    background-color: #70db70;
}

#userPane {
    width: 49%;
    float: left;
}

#adminPane {
    width: 49%;
    float: right;
}

#documentsPane {
    width: 100%;
}

#uploadDocumentPane {
    width: 49%;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    float: left;
    background-color: #f2f2f2;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 25px 0 rgba(0, 0, 0, 0.19);
}


#tagsPane {
    width: 49%;
    float: left;
}

#logInPane {
    width: 350px;
    height: 32%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #f5f5f0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 25px 0 rgba(0, 0, 0, 0.19);
}

#logInBox {
    padding: 25px;
}

#registerPane {
    width: 350px;
    height: 57%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #f5f5f0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 25px 0 rgba(0, 0, 0, 0.19);
}

#registerDonePane {
    width: 350px;
    height: 35%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #f5f5f0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 25px 0 rgba(0, 0, 0, 0.19);
}

/* Log in */

/* For log in button */
.btn-login {
    width: 100%;
    cursor:pointer;
    background-color: #70db70;
    color: #FFFFFF;
    border: 0px;
    float: right;
}

.field-login {
    border: 0px;
}

/* Colour used for log in bg of log in box, icons, text in fields */
.logInColour {
    color: #d6d6c2;
}

.logInLinks {
    color: #999999;
    font-size: 11px;
    text-align:center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-blue {
    background-color: #5A51C4;
}

.register-buttons {
    cursor: pointer;
    border: 0px;
    color: white;
    width:100%;
}

hr {
    border:none;
    color:white;
    height:1px;
    background:#d6d6c2;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#d6d6c2), to(#fff));
}

.logInTitle {
    font-size: 12px;
    font-style: bold;
    text-transform: uppercase;
}

.doneRegisterIcon {
    width: 30%;
    color: #FF5733;
}

.hidden {
    display: none;
}

/* For nav bar */
.nav-btn-style {
    text-transform:uppercase;
    color: white !important;
    font-weight: bold;
    letter-spacing:1px;
}

.navbar-default {
    background-color: #70db70;
    border: 0px;
}
.navbar-default .navbar-nav > li > a {
    color: #196619;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #70db70;
    color: #555555;
}

/* Uploading document */

#uploadTitle {
    background-color: #003300;
    position: relative;
    color: white;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 30px;
}

#upload-container {
    padding: 20px;
    position: absolute;
}

.white-button {
    background-color: white;
    color: white;
}

.uploadDocFields {
    margin-bottom: 10px;
}
/* User management */

.user-name {}

/* Document management */

.document-filter-list {}

.document-list-pane {}

.document-list-pane li {
    padding-top: 20pt;
}

.document-name {
    padding: 5px 10px;
    color: white;
    background-color: black;
    text-align: center;
    font:2.4em DejaVu Sans, sans-serif;
    font-size: 14px;
    cursor:pointer;
}

.document-name:hover {
    background-color: #aaaaaa;
}

.document-information-pane {}

.document-details-pane {}

.document-details {
}

.document-control-pane {}

.document-comments-pane {}

.document-history-pane {}

/* Tag management */

.tag-filter-list {}

.tag-list-pane {}

.tag-name {}

.tag-information-pane {}

.tag-details-pane {}

.tag-details {}

.tag-control-pane {}

.tag-history-pane {}

/* Names and values of document/tag properties */

.property-name {}

.property-value {}

/* Comments */

.comment-list {}

.comment-text {}

.comment-info {}

/* Events */

.event-list {}

.event-date {}

.event-description {}
